@import "compass";
@import 'sass-bootstrap/lib/bootstrap';

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

 svg {
  font: 10px sans-serif;
 }

 .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
 }

 sup, sub {
  line-height: 0;
 }

 q:before, blockquote:before {
  content: "?";
 }

 q:after, blockquote:after {
  content: "?";
 }

 blockquote:before {
  position: absolute;
  left: 2em;
 }

 blockquote:after {
  position: absolute;
 }


.node {
stroke : #fff;
stroke-width : 1.5px;
}

.link {
stroke: #999;
stroke-opacity: .6;
}


.node rect {
cursor: move;
fill-opacity: .9;
shape-rendering: crispEdges;
}
.node text {
pointer-events: none;
text-shadow: 0 1px 0 #fff;
}
.link {
fill: none;
stroke: #000;
stroke-opacity: .2;
}
.link:hover {
stroke-opacity: .5;
}

circle.node-dot {
fill: DarkSlateGray;
stroke: SlateGray;
stroke-width: 1px;
}


line.link {
fill: none;
stroke: SlateGray;
stroke-width: 1.5px;
}

marker#defaultMarker {
fill: SlateGray;
}

line.link.defaultMarker {
stroke: SlateGray;
}

circle {
fill: #ccc;
stroke: #333;
stroke-width: 1.5px;
}

text {
pointer-events: none;
}

text.text {
stroke: #000;
stroke-width: .8px;
stroke-opacity: .8;
}

text.shadow {
stroke: #fff;
stroke-width: 3px;
stroke-opacity: .8;
}

  