@import "compass";

@import 'sass-bootstrap/lib/bootstrap';

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

svg {
  font: 10px sans-serif;
  background-color: white;
}

.axis {
  path, line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

sup, sub {
  line-height: 0;
}

q:before, blockquote:before, q:after {
  content: "?";
}

blockquote {
  &:after {
    content: "?";
  }
  &:before {
    position: absolute;
    left: 2em;
  }
  &:after {
    position: absolute;
  }
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node {
  rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  &:hover {
    stroke-opacity: .5;
  }
}

circle.node-dot {
  fill: DarkSlateGray;
  stroke: SlateGray;
  stroke-width: 1px;
}

line.link {
  fill: none;
  stroke: SlateGray;
  stroke-width: 1.5px;
}

marker#defaultMarker {
  fill: SlateGray;
}

line.link.defaultMarker {
  stroke: SlateGray;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  stroke-opacity: 0.9;
  &:hover {
    stroke: darken(#333, 30%);
    stroke-width: 2.5px;
    stroke-opacity: 1;
  }
}

.current circle {
  stroke: darken(#333, 30%);
  stroke-width: 2.5px;
  stroke-opacity: 1;
}

text {
  pointer-events: none;
  &.text {
    stroke: #000;
    stroke-width: .8px;
  }
  &.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
  }
}